body {
    font-family: 'Square Peg', cursive;
    background-color: #007991;
    width: 1905px;
}

.logo {
    font-size: 70px;
    color: #007991;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
}

.header {
    /* width: 1905px; */
    /* height: 140px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,
        #43C6AC 20%,
        #F8FFAE 50%,
        #DCE35B);

}

.section {
    /* width: 2385px; */
    height: 738px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    /* width: 2385px; */
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,
    #007991 20%,
    #6DD5FA 50%,
    #38ef7d);
}

.social-media {
    font-size: 60px;
    border-radius: 30%;
    /* background-color: rgb(162, 158, 195); */
}

.icon {
    fill: #6441c4;
    
}

.main {
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1905px;
}

.social-media:not(:last-child) {
    margin-right: 100px;
}

.social-link {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: rgba(99, 218, 215, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    width: 800px;
    font-size: 60px;
    color: #0B1A3E;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
    transition: opacity 1000ms ease-out,
    visibility 1000ms ease-out;
    /* background: rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4.5px);
    /* -webkit-backdrop-filter: blur(4.5px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    fill: #000080;
}

.modal {
    width: 900px;
    height: 750px;
    background-color: rgb(220, 244, 244);
    border-radius: 5%;
    position: absolute;
    padding: 10px;
    transition: transform 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940),
    oipacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940),
    transform-origin 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    font-size: 24px;
    font-family: 'DM Sans',sans-serif;
    color: #2E3B59;
}

.backdrop .modal {
    transform: rotate(-360deg);
    opacity: 1;
}

.backdrop.is-hidden .modal {
    transform: rotate(0);
    opacity: 0;
}

.close-button {
    background-color: #AFEEEE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-color: #87CEFA;
    position: absolute;
    right: 10px;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.registration-list {
    list-style: none;
    padding-left: 20px;
}

.name {
    font-size: 48px;
    
}

.name-enter,
.tel-enter {
    display: block;
    width: 200px;
    height: 35px;
}

.submit-button {
    width: 210px;
    height: 50px;
    background-color: #87CEFA;
    border-color: #60c0c0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -71px 70px 42px -7px rgba(64, 178, 217, 0.52);
    -webkit-box-shadow: -71px 70px 42px -7px rgba(64, 178, 217, 0.52);
    -moz-box-shadow: -71px 70px 42px -7px rgba(64, 178, 217, 0.52);
}

.registration-item:not(:last-child) {
    margin-bottom: 25px;
}

/*Анімація титульної кнопки*/

.button {
    animation: wobble-hor-bottom 5s both infinite;
}

@keyframes wobble-hor-bottom {

    0% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-15px) rotate(-8deg);
    }

    30% {
        transform: translateX(15px) rotate(8deg);
    }

    45% {
        transform: translateX(-8px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    75% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
}

/* .button {
    animation: flip-in-hor-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both;
}



@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(10deg);
        transform: rotateX(90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 0.8;
    }
} */

.input-item:not(:last-child) {
    margin-right: 20px;
}

.registration-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: block;
    width: 400px;
}

.modal-img {
    position: absolute;
    right: 50px;
    top: 40px;
}